<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="studentConstructor" class="com.fsad.Student">
    <constructor-arg value="101" type="int"/>
    <constructor-arg value="Ravi Kumar"/>
    <constructor-arg value="B.Tech CSE"/>
    <constructor-arg value="2nd Year"/>
  </bean>

  <bean id="studentSetter" class="com.fsad.Student">
    <constructor-arg value="102" type="int"/>
    <constructor-arg value="Priya Sharma"/>
    <constructor-arg value="placeholder"/>
    <constructor-arg value="placeholder"/>
    <property name="course" value="MCA"/>
    <property name="year" value="1st Year"/>
  </bean>

</beans>